.timeline {
  border-right: 1px solid rgb(47, 51, 54);
}

.title {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid rgb(47, 51, 54);
}
.title > div:first-child {
  padding: 16px;
  font-size: 20px;
}

.title > div:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.content {
  justify-items: center;
  align-items: center;
  font-size: 15px;
}

.content > div {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
  transition: background-color 0.2s ease-in-out;
}
.content > div > div {
  width: max-content;
}
.content > div:hover {
  background-color: rgba(231, 233, 234, 0.1);
  cursor: pointer;
}
.content h6 {
  margin-bottom: 16px;
}

.blue {
  background-color: var(--color-tweet);
  height: 4px;
  border-radius: 9999px;
}
.notblue {
  height: 4px;
}

.tweet {
  display: grid;
  grid-template-columns: 40px 1fr;
  border-bottom: 1px solid rgb(47, 51, 54);
  padding: 16px 16px 8px 16px;
}
.tweet img {
  border-radius: 9999px;
}

.tweet_ornamental > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.tweet_ornamental button {
  font-size: 15px;
  line-height: 15px;
  border: 0;
  height: min-content;
  border-radius: 9999px;
  padding: 10px 18px;
  transition: background-color 0.2s ease-in-out;
}
.empty {
  color: grey;
  background-color: var(--color-post-inactive);
}
.notempty {
  color: white;
  background-color: var(--color-tweet);
  cursor: pointer;
}

.tweet_ornamental .editableDiv,
.editableDiv + div {
  font-size: 20px;
  line-height: 24px;
  width: 525px;
  box-sizing: border-box;
  background-color: inherit;
  border: 0;
  padding: 6px 0 0 12px;
  color: grey;
}

.editableDiv + div {
  position: absolute;
  top: 124px;
}

.clicked {
  display: none;
}
.notclicked {
  display: block;
}

.tweet_ornamental .editableDiv:focus {
  outline: none;
  border: 0;
}

.tweeticon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 28px;
  padding-left: 6px;
}

.tweeticon div:not(:last-child) {
  fill: var(--color-tweet);
  width: 20px;
  padding: 8px;
}
.tweeticon div:last-child {
  fill: var(--color-post-inactive);
  width: 20px;
  padding: 8px;
  transition: background-color 0.2s ease-in-out;
}

.tweeticon div:not(:last-child):hover {
  cursor: pointer;
  background-color: rgba(15, 78, 120, 0.2);
  border-radius: 9999px;
}

.banner {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 0;
  border-top: 1px solid rgb(47, 51, 54);
}
.banner svg {
  fill: white;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles for explore page */

.search {
  margin: 5px 150px 5px 50px;
}
/*  */

@media screen and (max-width: 700px) {
  .timeline {
    border-right: 0;
  }
  .tweet_ornamental .editableDiv,
  .editableDiv + div {
    max-width: 80vw;
  }
  .banner {
    display: grid;
  }
}
@media screen and (max-width: 400px) {
  .tweeticon {
    padding-left: 0px;
  }

  .tweeticon div:not(:last-child) {
    padding: 6px 4px;
  }
  .tweeticon div:last-child {
    padding: 6px 4px;
  }

  .tweeticon div:not(:last-child):hover {
    background-color: black;
    border-radius: 0px;
  }

  .tweet_ornamental button {
    font-size: 13px;
    line-height: 13px;
    padding: 8px 15px;
  }
}
