.trending {
  margin: 5px 30px;
}
.trending > div:not(:first-child):not(:last-child) {
  margin-bottom: 16px;
  padding: 15px;
  background-color: var(--color-trending);
  border-radius: 20px;
}
.trending h2 {
  font-size: 20px;
  font-weight: 700;
}

.verified {
  margin-top: 16px;
}

.verified > p {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
}
.verified > button {
  padding: 8px 17px;
  border-radius: 9999px;
  border: 0;
  color: white;
  background-color: var(--color-tweet);
  font-weight: 800;
}
.verified > button:hover {
cursor: pointer;
}

.footer {
  padding: 0 15px;
}

.footer > div {
  display: inline-block;
  margin-right: 10px;
}
.footer > div div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  color: rgb(100, 100, 100);
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
