.searchInput {
  position: relative;
  display: flex;
  align-items: center;
  height: 26px;
  border: 0;
  border-radius: 9999px;
  padding: 8px;
  width: 250px;
  border: 1px solid black;
  background-color: var(--color-search);
}

.searchInput input {
  border: none;
  outline: none;
  font-size: 14px;

  flex: 1;
  padding: 0 8px;
  background-color: transparent;
  color: white;
}
.searchInput:focus-within {
  border: 1px solid var(--color-tweet);
  background-color: black;
}
.searchInput:focus-within svg {
  fill: var(--color-tweet);
}

.searchIcon {
  margin: 0 10px;
}

.modal {
  position: absolute;
  margin-top: 144px;
  margin-left: -9px;
  width: 228px;
  height: 60px;
  color: grey;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 18px;
  cursor: pointer;
}
