:root {
  --color-tweet: #1d9bf0;
  --color-trending: #16181c;
  --color-post-inactive: #0f4e78;
  --color-tweet-active: #1a8cd8;
  --color-search: #202327;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.container > * {
  grid-column: 2;
}

.innerContainer {
  display: grid;
  grid-template-columns: 288px 949px;
}

.mainContainer > div > div {
  display: grid;
  grid-template-columns: 605px 400px;
}

@media screen and (max-width: 1310px) {
  .container {
    grid-template-columns: 1fr 1100px 1fr;
  }
  .innerContainer {
    grid-template-columns: 90px 949px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr 700px 1fr;
  }
  .innerContainer {
    grid-template-columns: 90px 549px;
  }
  .mainContainer > div > div {
    display: grid;
    grid-template-columns: 605px;
  }
  .mainContainer > div > div > div:last-child {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .container > * {
    grid-column: initial;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .innerContainer {
    grid-template-columns: 1fr;
  }
  .innerContainer > div:first-child {
    display: none;
  }
  .mainContainer > div > div {
    display: grid;
    grid-template-columns: 1fr;
  }
}
